<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_pie}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursos de Apoyo</title>

    <th:block layout:fragment="css-extra">
        <link rel="stylesheet" th:href="@{/css/recursos_apoyo_style.css}">
        </th:block>
</head>
<body>

    <div layout:fragment="content">
        <div class="resources-container">
            <div class="resources-header">
                <h2>RECURSOS DE APOYO PARA TI</h2>
                <p>Aquí encontrarás información y herramientas para cuidar tu bienestar mental y emocional. Explora nuestros videos y guías para obtener el apoyo que necesitas.</p>
            </div>

            <div class="resource-cards-container">
                <a th:href="@{/apoyo_yt}" class="resource-card">
                    <img th:src="@{/images/youtube.png}" alt="Videos Icono">
                    <p>VIDEOS</p>
                </a>

                <a th:href="@{/apoyo_guide}" class="resource-card">
                    <img th:src="@{/images/guide.png}" alt="Guías Icono">
                    <p>GUÍAS</p>
                </a>
            </div>
        </div>
    </div>

</body>
</html>